

.navbar{
	background-color: #e4087d;
	color : white;
	border-bottom: solid 2px ;
	border-color: #1d1d1b;
}

.navbar-brand{
	color : white;
}	


h1{	
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: white;

}

.jumbotron{
	padding-top: 30px;
	padding-bottom: 0;
	margin-bottom: 0;
}


h2{	
	color : #e4087d;
}

div{
	font-family: "Trebuchet MS", serif;


}


footer{
	background-color: #e4087d;
	text-align: center;
	padding-top: 5px;

}	


#listeProgramme{
	font-size: 18px;
	padding-right: 20% 20%;
	color: white;

}

#listeProgramme2{
	font-size: 18px;
	padding-right: 20% 20%;
	color: white;

}


footer .copyright{
	background-color: #1d1d1b;
	margin-bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}




.imag .fullbis {
	background-image: url("../data/Poing.png"); 
	background-attachment: fixed;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20%;
	padding-right: 20%;
	background-size: 90px;
}

.imag .fullbis h1{
	color : #e4087d;
	font-style: bold;
}


section.friends{
	background-color: #1d1d1b;
}

.navbar-default .navbar-brand{
	color : #1d1d1b;
}

.navbar-default .navbar-nav>.active>a{
	color : #1d1d1b;

}

#prog{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
	padding-bottom: 5%;
}


.imag .full {

	width : 100%;
	background-attachment: fixed;
	height: 100%;
	padding-top: 100px;
	background-image: url("../data/logo-chtiz.png"); 
	background-position: ;
	position: 2px;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 80px;
	padding-bottom: 60px;
}

@media(min-width:767px) {
	.imag .full{
	background-position: center;
	background-image: url("../data/chtiz-min.jpg"); 
	position: 2px;
	padding-bottom: 100px;
	padding-left: 20%;
	padding-right: 20%;
	background-size: cover;	
	
	
}
@media(max-width:767px) {
	.imag .full{

	
}

#dream{
	background-color: #e4087d;
}

strong{
	text-transform: bold;
	text-transform: uppercase;
}

